h1.main_heading О нас
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consequuntur dicta iusto repellendus error quia repellat quos illum dolores dolorem enim, voluptates nisi consequatur voluptate totam unde, illo eaque hic sapiente. Earum, consequuntur soluta! Alias, unde necessitatibus quia, esse neque quaerat molestiae id saepe fugit expedita vitae dolorem! Officia eius, deserunt sunt earum voluptatem voluptate nesciunt porro at veritatis dignissimos laudantium eligendi dicta omnis quis perspiciatis error voluptatibus a aut qui aperiam possimus perferendis fugit aspernatur quisquam! Quam consectetur non facilis laboriosam numquam alias repellendus quibusdam labore iusto doloribus dolorum possimus voluptate, sequi quae, minima molestiae fuga adipisci in aut?
= link_to  "Главная", root_path 
= link_to  "Помощь", help_path
