nav {
  background: #000000;
}
.menu_list {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px;
  padding: 12px;
  color: #ff00d4;
}
.menu_el {
  background: #000000;
  border-radius: 99px;
  padding: 8px 12px;
    &:hover,
    &:active{
      background: #ff00d4;
      color: #D8E6FF;
}
}