@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v9/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIVsdO_q.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: bisque;
  background: linear-gradient(320.84deg, #000000 20.07%, #040c51 96.22%);
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  padding: 15px;
}
footer {
  padding: 15px;
}
.menu {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar {
  margin: 15px;
}
.nav_link {
  // display: block;
  text-decoration: none;
  color: rgb(213, 91, 243);
}
.flex_page {
  letter-spacing: 2px;
}
.page-link {
  background: inherit;
  color: aqua;
  &:hover {
    background: orange;
  }
}
.card {
  background: inherit;
}
.menu-item {
  display: flex;
  margin: 0;
}
.menu-list {
  margin-right: 25px;
  align-self: center;
  padding: 15px;
  background: linear-gradient(320.84deg, #000000 20.07%, #040c51 96.22%);
  border-radius: 15px;
}

.first-list{
  position: relative;
}
.first-list>li:hover .second-list{
  display: block;
}
.second-list{
  display: none;
  position: absolute;
  left: 80px;
  top: 0;
}
.second-list>li{
  background-color: rgb(255, 255, 255);
  padding: 2px;
}